export GENESIS_UTXO="09e157b62851f2b081beec77287b2378fa563156f13646628d392b55999bd030#0"

export COMMITTEE_CANDIDATE_ADDRESS=$(jq -r '.addresses.CommitteeCandidateValidator' dev/envs/ci-preview/addresses.json)
export D_PARAMETER_POLICY_ID=$(jq -r '.policyIds.DParameter' dev/envs/ci-preview/addresses.json)
export PERMISSIONED_CANDIDATES_POLICY_ID=$(jq -r '.policyIds.PermissionedCandidates' dev/envs/ci-preview/addresses.json)
export ILLIQUID_SUPPLY_VALIDATOR_ADDRESS=$(jq -r '.addresses.IlliquidCirculationSupplyValidator' dev/envs/ci-preview/addresses.json)
export GOVERNED_MAP_VALIDATOR_ADDRESS=$(jq -r '.addresses.GovernedMapValidator' dev/envs/ci-preview/addresses.json)
export GOVERNED_MAP_POLICY_ID=$(jq -r '.policyIds.GovernedMap' dev/envs/ci-preview/addresses.json)

# native token observability
export NATIVE_TOKEN_POLICY_ID='ada83ddd029614381f00e28de0922ab0dec6983ea9dd29ae20eef9b4'
export NATIVE_TOKEN_ASSET_NAME='5043546f6b656e44656d6f'

# Preview parameters
. dev/envs/preview-exports.sh

# Operational parameters allowing to run node after sourcing this file
export DB_SYNC_POSTGRES_CONNECTION_STRING="postgres://postgres:password123@localhost/cexplorer"
export BLOCK_STABILITY_MARGIN=0
