#!/usr/bin/env bash
export DOCKER_BUILDKIT=1

export RUN_DIR="$(pwd)/.run"
export DATA_DIR="$RUN_DIR/data"
mkdir -p $DATA_DIR
chmod 777 $RUN_DIR $DATA_DIR
export CARDANO_CONFIG_DIR="$(pwd)/docker/config"
export KUPO_WORKDIR="$RUN_DIR/kupo-db"
mkdir -p $KUPO_WORKDIR

source envs/devnet/.envrc

if [[ -f "$PWD/.envrc.local" ]]; then
  echo using local envrc
  source "$PWD/.envrc.local"
fi

if [[ -z "$SKIP_FLAKE" ]]; then
  echo using flake
  if [[ $(type -t use_flake) != function ]]; then
    echo "ERROR: use_flake function missing."
    echo "Please update direnv to v2.30.0 or later."
  else
    if [[ -n "$NIX_SHELL" ]]; then
      use_flake $NIX_SHELL $FLAKE_SYSTEM_ARGS
    else
      use_flake $FLAKE_SYSTEM_ARGS
    fi
  fi
fi
