[package]
name = "partner-chains-cli"
version.workspace = true
license = "Apache-2.0"
description = "Wizard style CLI for getting started as partner chains participant"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true

[dependencies]
sidechain-domain = { workspace = true, features = ["std"] }
parity-scale-codec = { workspace = true }
anyhow = { workspace = true }
clap = { workspace = true }
hex = { workspace = true }
inquire = { workspace = true }
libp2p-identity = { workspace = true, features = ["peerid", "ed25519"] }
serde = { workspace = true }
serde_json = { workspace = true, features = ["std"] }
sp-core = { workspace = true, features = ["std"] }
sp-runtime = { workspace = true, features = ["std"] }
thiserror = { workspace = true }
tempfile = { workspace = true }
secp256k1 = { workspace = true, features = ["std"] }
colored = { workspace = true }
ogmios-client = { workspace = true, features = ["jsonrpsee-client"] }
tokio = { workspace = true }
cardano-serialization-lib = { workspace = true }
partner-chains-cardano-offchain = { workspace = true }
log = { workspace = true }
plutus = { workspace = true }
plutus-datum-derive = { workspace = true }
ed25519-zebra = { workspace = true }
sp-session-validator-management = { workspace = true, features = ["std"] }
pallet-native-token-management = { workspace = true, features = ["std"] }
sp-native-token-management = { workspace = true, features = ["std"] }
pallet-session-validator-management = { workspace = true, features = ["std"] }
pallet-partner-chains-session = { workspace = true, features = ["std"] }
pallet-sidechain = { workspace = true, features = ["std"] }
pallet-governed-map = { workspace = true, features = ["std"] }
sp-governed-map = { workspace = true, features = ["std"] }
sidechain-slots = { workspace = true }

[dev-dependencies]
frame-system = { workspace = true }
frame-support = { workspace = true }
hex-literal = { workspace = true }
parity-scale-codec = { workspace = true }
pretty_assertions = { workspace = true }
scale-info = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
std = []
runtime-benchmarks = []
