[package]
name = "ogmios-client"
version = "1.4.0"
edition = "2021"
license = "Apache-2.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
fraction = { workspace = true, features = ["with-decimal", "with-serde-support"] }
hex = { workspace = true }
jsonrpsee = { workspace = true, optional = true, features = ["client-core", "http-client", "macros"] }
serde = { workspace = true }
serde_json = { workspace = true, features = ["raw_value", "arbitrary_precision"] }
thiserror = { workspace = true }
time = { workspace = true, features = ["std", "serde", "parsing"] }
sidechain-domain = { workspace = true, features = ["std"] }
log = { workspace = true, optional = true }
cardano-serialization-lib = { workspace = true }
anyhow = { workspace = true }

[dev-dependencies]
anyhow = { workspace = true }
hex-literal = { workspace = true }
tokio = { workspace = true }

[features]
default = ["jsonrpsee-client"]
jsonrpsee-client = ["jsonrpsee", "log"]
