[package]
name = "main-chain-follower-mock"
version = "1.5.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[dependencies]
async-trait = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }
log = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sidechain-domain = { workspace = true }
sp-timestamp = { workspace = true }
sp-native-token-management = { workspace = true, optional = true }
sidechain-mc-hash = { workspace = true, optional = true }
pallet-sidechain-rpc = { workspace = true, optional = true }
authority-selection-inherents = { workspace = true, optional = true }

[features]
default = [ "std", "block-source", "candidate-source", "native-token" ]
std = [
	"serde_json/std",
	"sidechain-domain/std",
	"rand/std",
	"sp-native-token-management?/std"
]
block-source = []
candidate-source = ["authority-selection-inherents"]
native-token = ["sp-native-token-management"]
mc-hash = ["sidechain-mc-hash"]
sidechain-rpc = ["pallet-sidechain-rpc"]
