[package]
name = "sp-partner-chains-consensus-aura"
version = "1.1.0"
description = "Primitives required by Partner Chains customized Aura consensus"
authors = [ "IOG "]
homepage = "https://iohk.io/"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/input-output-hk/partner-chains/"
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
futures = {workspace = true}
sp-consensus = { workspace = true }
sp-consensus-slots = { workspace = true }
sp-runtime = { optional = true, workspace = true }
sp-inherents = { optional = true, workspace = true }

[dev-dependencies]
sp-blockchain = { workspace = true }

[features]
default = ["std"]
std = [
	"sp-consensus-slots/std",
	"sp-runtime/std",
	"sp-inherents/std",
]
