[package]
name = "selection"
version = "1.6.0"
description = "Selection logic for sidechain validators"
edition = "2021"
publish = false
license = "Apache-2.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
rand_chacha = { workspace = true }
rand = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }

[dev-dependencies]
quickcheck = { workspace = true }
quickcheck_macros = { workspace = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"scale-info/std",
    "rand/std"
]
