[package]
name = "sp-sidechain"
version = "1.7.0"
license = "Apache-2.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
envy = { workspace = true, optional = true}
frame-support = { workspace = true }
sidechain-domain = { workspace = true , version = "1.7.0" }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
sp-api = { workspace = true }
sp-runtime = { workspace = true }
sp-blockchain = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }

[features]
default = ["std"]
std = [
    "envy",
	"sp-api/std",
    "frame-support/std",
    "parity-scale-codec/std",
    "scale-info/std",
	"sidechain-domain/std",
    "sp-api/std",
    "sp-runtime/std",
	"serde",
	"serde_json",
	"sp-blockchain"
]
