omegaconf==2.3.0
pytest==7.4.0
pytest-xdist==3.3.1
substrate-interface==1.7.8
web3==6.17.0
sqlalchemy==2.0.19
psycopg2-binary==2.9.10
filelock==3.12.3
pytest-json-report==1.5.0
pydantic==2.5.3
scalecodec==1.2.8
paramiko==3.4.0
pytest-json-ctrf==0.2.3
numpy==1.26.4