[package]
name = "partner-chains-db-sync-data-sources"
version.workspace = true
license = "Apache-2.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lints]
workspace = true

[dependencies]
sqlx = { workspace = true }
db-sync-sqlx = { workspace = true }
tokio = { workspace = true, features = ["full"] }
futures = { workspace = true }
chrono = "0.4.31"
hex = { workspace = true }
hex-literal = { workspace = true }
itertools = { workspace = true }
sidechain-domain = { workspace = true, default-features = true }
serde = { workspace = true }
serde_json = { workspace = true }
bigdecimal = { workspace = true }
async-trait = { workspace = true }
num-bigint = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
blake2b_simd = { workspace = true }
figment = { workspace = true }
substrate-prometheus-endpoint = { workspace = true }
derive-new = { workspace = true }
lru = { workspace = true }
sp-timestamp = { workspace = true, features = ["std"] }
sp-native-token-management = { workspace = true, features = [
    "std",
], optional = true }
sidechain-mc-hash = { workspace = true, optional = true }
pallet-sidechain-rpc = { workspace = true, optional = true }
authority-selection-inherents = { workspace = true, features = [
    "std",
], optional = true }
cardano-serialization-lib = { workspace = true }
partner-chains-plutus-data = { workspace = true }
sp-block-participation = { workspace = true, features = [
    "std",
], optional = true }

[dev-dependencies]
tokio-test = "0.4.3"
ctor = "0.2.5"
testcontainers-modules = { version = "0.1.3", features = ["postgres"] }

[features]
default = []
block-source = []
candidate-source = ["authority-selection-inherents"]
native-token = ["sp-native-token-management"]
mc-hash = ["sidechain-mc-hash", "block-source"]
sidechain-rpc = ["pallet-sidechain-rpc", "block-source"]
block-participation = ["sp-block-participation"]
