[package]
name = "sp-partner-chains-consensus-aura"
version = "1.7.0"
description = "Primitives required by Partner Chains customized Aura consensus"
authors.workspace = true
homepage.workspace = true
edition.workspace = true
license = "Apache-2.0"
repository.workspace = true
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true

[dependencies]
futures = {workspace = true}
sp-consensus = { workspace = true }
sp-consensus-slots = { workspace = true }
sp-runtime = { optional = true, workspace = true }
sp-inherents = { optional = true, workspace = true }

[dev-dependencies]
sp-blockchain = { workspace = true }

[features]
default = ["std"]
std = [
	"sp-consensus-slots/std",
	"sp-runtime/std",
	"sp-inherents/std",
]
