[package]
name = "selection"
version = "1.7.0"
description = "Selection logic for sidechain validators"
publish = false
license = "Apache-2.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true

[dependencies]
rand_chacha = { workspace = true }
rand = { workspace = true }

[dev-dependencies]
quickcheck = { workspace = true }
quickcheck_macros = { workspace = true }

[features]
default = ["std"]
std = [
    "rand/std"
]
