[package]
name = "sp-session-validator-management"
version = "1.7.0"
license = "Apache-2.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
scale-info = { workspace = true }
parity-scale-codec = { workspace = true }
serde = { workspace = true, optional = true }
sidechain-domain = { workspace = true , version = "1.7.0" }
sp-api = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }
thiserror = { workspace = true, optional = true }
envy = { workspace = true, optional = true }

[features]
default = ["std"]
std = [
    "parity-scale-codec/std",
    "sp-api/std",
    "sp-core/std",
    "sp-inherents/std",
    "sp-std/std",
    "sp-runtime/std",
    "sidechain-domain/std",
    "sidechain-domain/serde",
    "thiserror",
    "envy",
    "serde"
]
serde = [
	"dep:serde",
	"scale-info/serde",
	"sidechain-domain/serde",
]
