# Workflow not to be executed manually, but by the release.yml workflow

name: "Release: Publish Draft Release (Don't run manually)"

on:
  workflow_dispatch:
    inputs:
      sha:
        description: 'The SHA of the commit to build'
        required: true
        type: string
      tag:
        description: 'The tag for the release'
        required: true
        type: string

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish Release
        uses: ./.github/actions/release/publish-draft-release
        with:
          tag: ${{ inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
