[package]
name = "main-chain-follower-cli"
version = "1.6.1"
edition = "2021"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
db-sync-follower = { workspace = true, features = ["block-source", "candidate-source"] }
tokio = { workspace = true }
env_logger = { workspace = true }
log = { workspace = true }
sidechain-domain = { workspace = true }
authority-selection-inherents = { workspace = true }
sp-timestamp = { workspace = true }
